html, body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 1;
}
#root {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 1;
}
#app {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 1;
	background: url(Melamine-wood-002.webp) #a9b89e;
	display: grid;
	place-items: center center;
}

.chatListsUl {
	list-style: none;
}
.roomsForExpanding {
	list-style: none;
}

.item {
	padding: 10px 0 10px 7px;
	color: #d2d7e1;
	text-decoration: none;
	display: block;
	position: relative;
	border-bottom: 2px solid #586476;
}
.tabbed.item {
	padding-left: 20px;
}
.item:not(.header) {
	cursor: pointer;
}
.item:hover,
.item.active,
.item.header {
	background: #445166;
	color: #fff;
}
.item i{
	color: #79889d;
	font-size: 1.2em;
}
.item span{
	display: inline-block;
	margin-left: 7px;
}
.item i.fa-trash-alt{
	position: absolute;
	top: 12px;
	right: 7px;
	font-size: 10px;
}
.item i.fa-angle-down{
	position: absolute;
	top: 11px;
	right: 41px;
	font-size: 16px;
	font-weight: bold;
}
.item i.fa-bell,
.item i.fa-bell-slash {
	position: absolute;
	top: 11px;
}
.item i.fa-bell {
	right: 24.6px;
	font-size: 14px;
}
.item i.fa-bell-slash {
	right: 20px;
	font-size: 14px;
}
.reversed {
	transform: rotate(180deg);
}
.hidden {
	height: 0;
    overflow: hidden;
}
.conversation-list .online{
	color: #82cf85;
}
.conversation-list .idle{
	color: #ffac69;
}
.conversation-list .offline{
	color: #f57e7d;
}
.member-list > li{
	padding: 5px 0;
}
.member-list > li .status{
	margin: 0 10px 0 0;
	font-size: 14px;
}
.member-list > li .status.online{
	color: #82cf85;
}
.member-list > li .status.idle{
	color: #ffac69;
}
.member-list > li .status.offline{
	color: #f57e7d;
}
.member-list > li .time{
	float: right;
	font-size: 9px;
	margin-top: 4px;
}
::-webkit-scrollbar-track {
	background-color: #DBDBDB;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:#A1AFC4;
	cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, 0.8);
}
::-webkit-scrollbar{
	width: 8px;
}

.tippy-tooltip.emoji-theme {
    background-color: #6d828f;
    user-select: none
}

.tippy-tooltip.emoji-theme[data-placement^='bottom'] .tippy-arrow {
    border-bottom-color: rgb(255, 78, 78)
}

.ReactionButtons button {
	background: #eee;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	outline: 0;
	border-radius: 0.2rem;
	background: none;
	font-size: 1.25rem;
	padding: 0 0.25rem;
	cursor: pointer;
}

.ReactionButtons button[data-selected='true'] {
	background: #eee;
	border: 1px solid rgba(0, 100, 200, 0.5);
}

.ReactionButtons .emoji:hover {
	transform: scale(1.2);
}

.ReactionButtons .emoji {
	transition: transform 0.15s;
	will-change: transform;
}
